/* ============================================================
   Work Gallery page styles
   ============================================================ */

body {
    text-align: center;
    background-color: #5A330A;

}

h1 {
    color: white;
}

p {
    color: white;
}