{% extends "core/base.html" %}
{% load static %}

{% block title %}J-Noon Flooring Specialist | Password changed{% endblock %}

{% block body_class %}page-password-reset{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth">
    <h1>Password changed</h1>

    <div class="auth__form">
        <p>Your password has been updated. You can now log in with your new
           password.</p>
    </div>

    <p class="auth__aside">
        <a href="{% url 'accounts:login' %}">Go to login</a>
    </p>
</div>
{% endblock %}
